@import "/scss/variables";

.app {
    position: relative;
}

h1,
h2,
h3,
h4,
.sub-1 {
    font-weight: 400;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    color: $white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
    font-family: "Bellefair", sans-serif;
}

h5,
.sub-2 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $soft-blue;
}

.sub-2 {
    font-size: 14px;
    letter-spacing: 2.36px;
}

p {
    font-size: 15px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 25px;
    color: $soft-blue;
}

@media screen and (min-width: $tablet-width) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
        letter-spacing: 3.3px;
    }

    p {
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (min-width: $desktop-width) {
    h1 {
        font-size: 150px;
    }

    h3 {
        font-size: 56px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 28px;
        letter-spacing: 4.72px;
    }

    p {
        font-size: 18px;
        line-height: 32px;
    }
}
